
@model IEnumerable<string>

@foreach (string kategorija in Model)
{

    <a class="btn btn-block
        @(kategorija == @ViewBag.Kategorija  ? "btn-danger": "btn-default")"
       asp-action="Index"
       asp-controller="Home"
       asp-route-kategorija="@kategorija">
        @kategorija
    </a>
    
}

    <a class="btn btn-block
@(ViewBag.Kategorija== "" ? "btn-danger": "btn-default")"
       asp-action="Index"
       asp-controller="Home"
       asp-route-kategorija="">
        Svi proizvodi
    </a>
